<div class="container h-9 extra-margin-top" autofocus="">
    <div class="row mb-2">
        <div class="col">
            <h5 class="font-weight-light">MAnufacturers List</h5>
        </div>
    </div>
    <div class="panel-heading" style="background-color: #221e22;color:white">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" onclick="">Batch List</a>
      </h4>̥
    </div>
    <div>
    <form class="form1">
      <label>Batch Id</label>
      <input type="text" name="batchID" /><br /><br />
      <label>Batch Name</label>
      <input type="text" name="batchName" /><br /><br />
      <label>Batch Items</label>
      <input type="text" name="batchItems" /><br /><br />
      <button>create<input />
    </form>
    </div>
    <div class="batchtable" autofocus="">
      <h2>Batch Table</h2>
       <table style="width:100%">
         <tr align="center">
           <th>Batch Id</th>
           <th>Batch Name</th>
           <th>Batch Items</th>
         </tr>
         <tr align="center">
           <td></td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td></td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td></td>
           <td></td>
           <td></td>
         </tr>
       </table>
    </div>
</div>
